<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TelegramBotBankStore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <file value="Logs/log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="LogUsersAction" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <file value="Logs/LogUsersAction.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <logger name="LogUsersAction" additivity="false">
      <level value="ALL" />
      <appender-ref ref="LogUsersAction" />
    </logger>
    <root>
      <priority value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <category name="DesktopLogger.Form1">
      <priority value="ALL" />
    </category>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <TelegramBotBankStore.Properties.Settings>
      <setting name="BotToken" serializeAs="String">
        <value />
      </setting>
      <setting name="BotChannel" serializeAs="String">
        <value />
      </setting>
      <setting name="BlockChainApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="BlockChainIdWallet" serializeAs="String">
        <value />
      </setting>
      <setting name="BlockChainServiceHost" serializeAs="String">
        <value />
      </setting>
      <setting name="BlockChainPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="Greeting" serializeAs="String">
        <value />
      </setting>
      <setting name="PositionOutOfStock" serializeAs="String">
        <value>The item is out of stock at the moment. Please follow NEWS channel @NEWStelegram</value>
      </setting>
      <setting name="Support" serializeAs="String">
        <value>@Supportcontact</value>
      </setting>
      <setting name="CommandSupport" serializeAs="String">
        <value>/iamasupport</value>
      </setting>
      <setting name="Key" serializeAs="String">
        <value />
      </setting>
      <setting name="UniqueID" serializeAs="String">
        <value />
      </setting>
      <setting name="ExmoKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ExmoSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="QiwiMethod" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsExmoAvailable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsQiwiAvailable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsApironeAvailable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApironeWalletLTCAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="ApironeWalletBTCAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="ApironePayBTC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApironePayLTC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AUA" serializeAs="String">
        <value />
      </setting>
      <setting name="CardNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="IsCardAvailable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiscountBTC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DiscountLTC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsReviewAvailable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsUserPayWalletAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsReserveAndPayInTheEndAvailable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimeToCancelOrder" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Currency" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsButtonLanguageAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsPromoCodeAvailable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsNotEnterAmountToBuy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsButtonIPaidForCard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsLockCheckPayment" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsButtonIPaidForElse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YandexAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="IsYandexAvailable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YansexClientId" serializeAs="String">
        <value />
      </setting>
      <setting name="YandexRedirectUri" serializeAs="String">
        <value />
      </setting>
      <setting name="YandexProxyNamePass" serializeAs="String">
        <value />
      </setting>
      <setting name="YandexProxyIpPort" serializeAs="String">
        <value />
      </setting>
      <setting name="YandexToken" serializeAs="String">
        <value />
      </setting>
      <setting name="RefferalRewarding" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Referral" serializeAs="String">
        <value />
      </setting>
      <setting name="IsReferalAvailable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsTele2Available" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Tele2Number" serializeAs="String">
        <value />
      </setting>
      <setting name="Tele2Password" serializeAs="String">
        <value />
      </setting>
      <setting name="IsMainButtonAvailability" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsMainButtonStatistics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsNotFoundAvailable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotFoundText" serializeAs="String">
        <value />
      </setting>
      <setting name="NotFoundChennel" serializeAs="String">
        <value />
      </setting>
      <setting name="IsSendMoneyButtonAvailabile" serializeAs="String">
        <value>False</value>
      </setting>
    </TelegramBotBankStore.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>